<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" min="0" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-amount" data-rule="required" min="0" class="form-control" step="0.01" name="row[amount]" type="number" value="0.00">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <input name="row[status]" type="hidden" value="0">
            <input name="row[audit_type]" type="hidden" value="manual">
            <input name="row[pay_method]" type="hidden" value="system">
            <input name="row[remark]" type="hidden" value="后台添加充值">
            <input name="row[create_time]" type="hidden" value="{:date('Y-m-d H:i:s')}">
            <input name="row[update_time]" type="hidden" value="{:date('Y-m-d H:i:s')}">
            <input name="row[order_no]" type="hidden" value="{:uniqid()}">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
