<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" min="0" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Player_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-player_id" data-rule="required" data-source="player/index" class="form-control selectpage" name="row[player_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Plat_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-plat_type" class="form-control" name="row[plat_type]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Currency')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-currency" class="form-control" name="row[currency]" type="text" value="CNY">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Game_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-game_type" class="form-control" name="row[game_type]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Game_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-game_name" class="form-control" name="row[game_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Round')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-round" class="form-control" name="row[round]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Table_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-table_no" class="form-control" name="row[table_no]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Seat_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-seat_no" class="form-control" name="row[seat_no]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bet_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bet_amount" class="form-control" step="0.01" name="row[bet_amount]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Valid_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-valid_amount" class="form-control" step="0.01" name="row[valid_amount]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Settled_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-settled_amount" class="form-control" step="0.01" name="row[settled_amount]" type="number" value="0.00">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bet_content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-bet_content" class="form-control editor" rows="5" name="row[bet_content]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" class="form-control" name="row[status]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Game_order_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-game_order_id" data-rule="required" data-source="game/order/index" class="form-control selectpage" name="row[game_order_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bet_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bet_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[bet_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Last_update_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-last_update_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[last_update_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
