<div>
    <div class="saveMessage">{:$saveMessage}</div>
    <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

        <input type="hidden" name="row[user_id]" value="{$row.user_id|htmlentities}">
        <div class="form-horizontal nice-validator n-default n-bootstrap">
            <div class="form-group" style="text-align: center; padding: 20px;">
                <h2>用户配置的返水比例</h2>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">真人:</label>
                <div class="col-xs-6 col-sm-4">
                    <?php if ($row_p['rebate1']) { ?>
                    <input class="form-control" name="row[rebate1]" type="number" step="0.01" max="{:$row_p.rebate1 - 0.1}" min="0" value="{$row.rebate1|htmlentities}">%
                    <?php } else { ?>
                        上级未配置此返水比例
                    <?php } ?>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">电子:</label>
                <div class="col-xs-6 col-sm-4">
                    <?php if ($row_p['rebate2']) { ?>
                    <input class="form-control" name="row[rebate2]" type="number" step="0.01" max="{:$row_p.rebate2 - 0.1}" min="0" value="{$row.rebate2|htmlentities}">%
                    <?php } else { ?>
                        上级未配置此返水比例
                    <?php } ?>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">彩票:</label>
                <div class="col-xs-6 col-sm-4">
                    <?php if ($row_p['rebate3']) { ?>
                    <input class="form-control" name="row[rebate3]" type="number" step="0.01" max="{:$row_p.rebate3 - 0.1}" min="0" value="{$row.rebate3|htmlentities}">%
                    <?php } else { ?>
                        上级未配置此返水比例
                    <?php } ?>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">体育:</label>
                <div class="col-xs-6 col-sm-4">
                    <?php if ($row_p['rebate4']) { ?>
                    <input class="form-control" name="row[rebate4]" type="number" step="0.01" max="{:$row_p.rebate4 - 0.1}" min="0" value="{$row.rebate4|htmlentities}">%
                    <?php } else { ?>
                        上级未配置此返水比例
                    <?php } ?>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">电竞:</label>
                <div class="col-xs-6 col-sm-4">
                    <?php if ($row_p['rebate5']) { ?>
                    <input class="form-control" name="row[rebate5]" type="number" step="0.01" max="{:$row_p.rebate5 - 0.1}" min="0" value="{$row.rebate5|htmlentities}">%
                    <?php } else { ?>
                        上级未配置此返水比例
                    <?php } ?>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">捕鱼:</label>
                <div class="col-xs-6 col-sm-4">
                    <?php if ($row_p['rebate6']) { ?>
                    <input class="form-control" name="row[rebate6]" type="number" step="0.01" max="{:$row_p.rebate6 - 0.1}" min="0" value="{$row.rebate6|htmlentities}">%
                    <?php } else { ?>
                        上级未配置此返水比例
                    <?php } ?>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">棋牌:</label>
                <div class="col-xs-6 col-sm-4">
                    <?php if ($row_p['rebate7']) { ?>
                    <input class="form-control" name="row[rebate7]" type="number" step="0.01" max="{:$row_p.rebate7 - 0.1}" min="0" value="{$row.rebate7|htmlentities}">%
                    <?php } else { ?>
                        上级未配置此返水比例
                    <?php } ?>
                </div>
            </div>
        </div>
        <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
    </form>
</div>

<style>
    .form-horizontal .control-label {
        padding-top: 0;
    }
    .form-group > div {
        display: flex;
    }
    .form-group > div > input {
        text-align: right;
    }
</style>