<div class="row">
    <div class="col-lg-8">
        <div id="echart" class="btn-refresh" style="height:300px;width:100%;"></div>
    </div>
    <div class="col-lg-4">
        <div class="card sameheight-item stats">
            <div class="card-block">
                <div class="row row-sm stats-container">
                    <div class="col-xs-6 stat-col">
                        <div class="stat-icon"><i class="fa fa-rocket"></i></div>
                        <div class="stat">
                            <div class="value"> 项目名 </div>
                            <div class="name"> 数量 </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 20%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>